$primary-color: #242423;
$secondary-color: #333533;
$white-color: #fdfffc;
$dark-grey: #202020;
$dark-blue-text: #242423;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
