@import '../abstracts/variables';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

  /* The emerging W3C standard that is currently Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: $highlight-color transparent;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: .8rem;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: $highlight-color;
    border-radius: .4rem;
    border: .2rem solid $highlight-color;
  }